
body
{
	background-image:url("bground.jpg") ;
	color: black;
	font-size:2em;
	font-family: Comic Sans MS, Arial ;
	text-align: center ;
	background-attachment: fixed;
    text-shadow: 2px 2px 4px black;
}

a
{
	color: black;
	text-align:center ;
	font-family: Comic Sans MS, Arial ;
}

table
{
	color: black;
	text-align:center ;
	font-family: Comic Sans MS, Arial ;
	font-size:3em;
}

.tftable th 
{
	
   background-color:white;font-size:30px;border-width: 1px;padding: 0px;border-style: solid;text-align:center;border: 3px #D60928 outset; box-shadow: 10px 10px 6px #5D0000;
}

.tftable 
{
	font-size:100px;width:100%;border-width: 0px;
}

.tftable tr 
{
	box-shadow: 6px 6px 6px black inset;
}

a:hover
{
	text-decoration:blink
}

h1
{
    text-shadow: 4px 4px 6px #250000;
}